@font-face {
    font-family: Machine;
    src: url(../../Machine\ Regular.ttf);
}
html{
    background: radial-gradient(circle at center top, rgb(10, 28, 58) 0px, rgb(5, 17, 34) 900px, rgb(5, 17, 34));
    padding: 0;
    margin: 0;
}
.menu1{
    display: flex;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    padding: 20px 25px 0 25px;
    font-size: 18px;
    justify-content: center;
}

.header_ima img{
    max-width: 150px;
}

.nav li{
    list-style: none;
    color: white;
}

.nav ul{
    display: flex;
}

.nav1 ul li{
    margin: 0 20px;
}

.nav2 ul li{
    margin: 0 20px;
}

.nav li:hover{
    color: #007aff;
    cursor: pointer;

}

.content{
    max-width: 1380px;
    margin: auto;
}

.menu1{
    margin: auto;
}

.title{
    font-family: 'Machine', sans-serif;
    color: white;
    font-size: 90px;
    display: flex;
    margin-left: -700px;
    margin-top: -100px;
 }


.container-flechas{
    display: flex;
    flex-direction: column;
    margin-right: -450px;
}

.icon-right{
    rotate: -45deg;
}

.icon-left{
    rotate: 135deg;
}

.border-arrow{
    border: white 1px solid;
    rotate: 45deg;
    margin-bottom: 35px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20% ;
    margin:200px auto 0 auto;
    margin-bottom: 200px;
}

.container-content{
    display: flex;
    align-items: center;
    max-width:700px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: -350px;
}
.button{
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 20px;
    display: flex;
    margin-top: 50px;
    margin-left: -340px;
    color: white;
    background-color: transparent;
    padding: 11px 20px;
    border: 1px white solid;
}

.icon{
    color: white;
    padding: 10px;
    rotate: 90deg;
}

.button:hover{
    background-color: #0068c8;
    color: white;
    border: none;
}

.main_img{
    max-width:900px;
    display: flex;
    margin: auto;
    position: absolute;
    z-index: -1;
}

.icons-main{
    display: flex;
    color:transparent;
    justify-content:center;
    margin-bottom: 30px;
}

.icon-main{
    margin: 0 10px;
    border: white 1px solid;
    rotate: 45deg;
}

.white{
    color: white;
}

.menu2{
    margin-bottom: 150px;
}

.title_menu2{
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.pelis{
    display: flex;
    justify-content: center;
}

.peli img{
    height: 300px;
    border-radius: 4px;
}

.peli{
    width: 200px;
    margin: 20px;
}

.peli h3{
    font-family: 'Machine', sans-serif;
    color: white;
    margin-top: -30px;
    font-size: 20px;
}

.flechas-menu2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons2{
    width: fit-content;
    display: flex;
}

.border2{
    border: white 1px solid;
    rotate: 45deg;
margin: 20px 20px 90px 20px;}

.icons2{
    color: white;
    padding: 10px;
}

.margin-right{
    margin-right:30px;
}

.banner{
    background-image: url(images/banner-plf-1324x420.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 100px;
    width: 100%;
    height: 100%;
}

.banner h3{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 20px;
    margin-left: 100px;

}

.banner p{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 20px;
    margin-left: 100px;

}

.banner .blue{
    font-family: 'Nunito Sans', sans-serif;
    color: #00aae4;
}

.flex{
    display: flex;
}

.arrow{
    font-size: 20px;
}

.bla{
    margin-left: 100px;
}

.title3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 150px 30px 60px 30px;
    font-family: 'Nunito Sans', sans-serif;
}

.secciones{
    display: flex;
    justify-content: center;
}

.seccion{
    max-width: 370px;
    background-color: white;
    margin: 0 20px;
}

.title-section{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    padding: 10px;
}

.description{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #4e5a6c;
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 20px;
}

.section-cta{
    margin-top: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
    margin-bottom: 20px;
    color: #19aaff;
    font-size: 18px;
    font-family: "Nunito Sans";
}

a{
    text-decoration: none;
}

.section-cta > a{
    color:#19aaff
}

.footer-a{
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-cta{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    margin-top: 80px;
    color: white;
    background-color: #007aff;
    width: fit-content;
    padding: 15px;
}

.footer-button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}


.button-foot{
    color: white;
    padding: 20px;
    background-color: #007aff;
}

footer{
    background-color: #0A1C3A;
}

.footer-menu{
    display: flex;
    padding: 100px;
    justify-content: space-between;
    line-height: 35px;
    border: black 1px solid;
}

.footer-section{
    color: white;
}

.footer-section>ul>li{
    list-style: none;
    font-family: "Nunito Sans";
    font-size: 18px;
}

.footer-iconos{
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 30px;
    margin-right: 100px;
}

.fa-brands{
    margin: 20px;
}

.header-boton{
    background-color: transparent;
    background-size: 100% 1px,1px calc(100% - 15px),1px 100%,calc(100% - 15px) 1px,100%;/*FONDO BOTON YA A LA VENTA*/
    clip-path: polygon(-1px -1px,-1px -10px,calc(100% + 1px) -10px,calc(100% + 1px) 0,calc(100% + 1px) calc(100% - 15px),calc(100% - 15px) calc(100% + 1px),0 100%,0 calc(100% - 4px)); /*esquina del borde de YA A LA VENTA*/
    background-position: top right,top right,bottom left,bottom left,top left;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg,#ffffff,#ffffff),linear-gradient(225deg,#ffffff,#ffffff),linear-gradient(0deg,#ffffff,#ffffff),linear-gradient(90deg,#ffffff,#ffffff),linear-gradient(135deg,transparent 0%,transparent calc(100% - 12px),#ffffff calc(100% - 12px),#ffffff calc(100% - 1px),transparent calc(100% - 1px));/*BORDES DEL BOTON*/
}

.header-boton:hover{
    border: none;
    background-image: none;
}
.fondo-trailer{

}
.trailer{
    background-image: url(images/avatarsentidoaguabanner.jpg);
    background-size: cover ;
    width: 100%;
    height: 600px;
    margin: 0 auto 0 auto;
}
.ficha-peli{
    display: flex;
    flex-wrap: wrap;
    margin-top: -25px;
    padding-left: 100px;
}
.texto-peli{
    color: white;   
    line-height: 1.5;
    margin-top: 100px;
    font-family: 'Nunito Sans', sans-serif;
}
.second-txt{
    color: white;   
    line-height: 1.5;
    font-family: 'Nunito Sans', sans-serif;
    margin: 50px;
    margin-top: 100px;
}
.titulo-ficha h3{
    font-family: 'Machine', sans-serif;
    color: white;
    margin-top: -455px;
    font-size: 50px;
    padding-left: 300px;
    
    
}
.foto-peli-ava{
    margin-bottom: 100px;
}
.casillas{
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    padding: 1px 3px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
}
h4{
    color: gray;
}
.textos-fichas{
    display: flex;
    padding-left: 300px;
    margin-top: -150px;
    
}
.play-boton{
    background-color: transparent;
    background-size: 100% 1px,1px calc(100% - 15px),1px 100%,calc(100% - 15px) 1px,100%;/*FONDO BOTON YA A LA VENTA*/
    clip-path: polygon(-1px -1px,-1px -10px,calc(100% + 1px) -10px,calc(100% + 1px) 0,calc(100% + 1px) calc(100% - 15px),calc(100% - 15px) calc(100% + 1px),0 100%,0 calc(100% - 4px)); /*esquina del borde de YA A LA VENTA*/
    background-position: top right,top right,bottom left,bottom left,top left;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg,#ffffff,#ffffff),linear-gradient(225deg,#ffffff,#ffffff),linear-gradient(0deg,#ffffff,#ffffff),linear-gradient(90deg,#ffffff,#ffffff),linear-gradient(135deg,transparent 0%,transparent calc(100% - 12px),#ffffff calc(100% - 12px),#ffffff calc(100% - 1px),transparent calc(100% - 1px));/*BORDES DEL BOTON*/
}
